@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

*{
    font-family: "Outfit", sans-serif;
}
html, body {
  height: 100%;
  /* overflow: hidden; */
}


@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
    display: none;
}

@import "tailwindcss";

.reset-tw :not(pre):not(code){
    all: revert;
}


.loader div:nth-child(2){
    animation-delay: 0.2s;
}
.loader div:nth-child(3){
    animation-delay: 0.4s;
}